## pandas 
- Series

## matplotlib

In [1]:
import pandas as pd

In [29]:
# how to create Series Array and Print the values
internal1 = {"s1":40, "s2":50, "s3":30}

In [30]:
internal1

{'s1': 40, 's2': 50, 's3': 30}

In [31]:
s = pd.Series(internal1)

In [6]:
#Displaying series array 
s

s1    40
s2    50
s3    30
dtype: int64

In [7]:
s[1]

50

In [8]:
s[:3]

s1    40
s2    50
s3    30
dtype: int64

In [9]:
s[1:3]

s2    50
s3    30
dtype: int64

In [10]:
s[0] = 60

In [23]:
l = [[1,2,3,4,5],[6,7,8,9,10]]
#create a DataFrame
d = pd.DataFrame(l)
print(d)
sum(d)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

10

In [11]:
s[0]

60

In [12]:
s

s1    60
s2    50
s3    30
dtype: int64

In [13]:
l = [1,2,3,4,5]
s = pd.Series(l)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s[0] = 44

In [15]:
sum(s)

58

In [25]:
sum(d[1]) # sum up the entire col based on index

9

In [26]:
for i in d.values:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9
10

In [27]:
d

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [28]:
d[4]

0     5
1    10
Name: 4, dtype: int64

In [ ]:
internal2 = {"s1":100, "s2":40, "s3":60}